.tag {
    font-size: 14px;
    padding: .5em;
    margin: 0 5px 0 0;
}

.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}

.tag a:hover {
    opacity: 1.0
}

.tag .remove {
    vertical-align: middle;
    top: 0;
}

.tag a .glyphicon-white {
    color: #fff;
}

.form-horizontal .form-group div div {
    padding: 0 0 .5em 0;
}
