body {
    padding-top: 70px;
}

ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}
.admin-card {
    cursor:pointer
}

.spinner-wrapper {
    border: none;
}

.cal-day-holiday span[data-cal-date] {
        color: #ff0000;
    font-size: 4em;
}
.cal-day-holiday {
    background: #f2dede;
}
