body {
    padding-top: 70px;
}

ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}
.admin-card {
    cursor:pointer
}

.spinner-wrapper {
    border: none;
}

.cal-day-holiday span[data-cal-date] {
        color: #ff0000;
    font-size: 4em;
}
.cal-day-holiday {
    background: #f2dede;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #101010;
    color: white;
    text-align: center;
}
