<h2>Hello, {{ firstName }}</h2>

<h3>Here are your credentials for the app</h3>

<ul>
    <li>Username: {{ email }}</li>
    <li>Password: {{ password }}</li>
</ul>

<a href="{{ domain }}/#/login" target="_blank">Follow this link to login into the app</a>
