<h1>Hello : {{ firstName }}</h1>

<h2>Here are your credentials you can login with in the app:</h2>

<ul>
    <li>Username: {{ email }}</li>
    <li>Password: {{ password }}</li>
</ul>

<a href="{{ domain }}/#/login">Follow this link to login into the app</a>
